html, body { 
    height: 100%; 
  }
  
  body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
  }
  
  @import 'theme'; // Ensure this path is correct
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import 'ngx-toastr/toastr';
